* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 100px;
}
h1, h2, h4, h5, h6 {
background-color: #88b358; color: azure; border: 15px solid #88b358; 
}
h3 {background-color: #88b358; color: azure; 
    display: inline; border: 15px solid #88b358; 

}

.multi-column {
    columns: 1;
}
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 50px;
}
.profile-image {
width: 15cm; 
margin-bottom: 2cm;
}

.hobbie {
display: flex;
}

.hobby-list {
    margin-left: 2cm;
}

.image-one {
    width: 10cm;
}

.image-two {
    width: 10cm; margin-left: 1cm;
    
}

.image-three {
    width: 10cm; margin-left: 1cm;
}
.pictures-three {
    margin-top: 2cm;
}
.link-text {
    font-weight: bold;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
    border-right: 1px solid #bbb;
}

a {
    display: block;
    padding: 8px;
    background-color: #555;
}

  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #333;
}

.active {
    background-color: #88b358;
}


  
li:last-child {
    border-right: none;
  }
