* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;




}

body{
    margin-left: 3cm;
    margin-right: 3cm;
    margin-bottom: 3cm;
}

.container {
    display: flex;

}

.city-view {
    width: 15cm;
    margin-left: 1cm;
}
.city {
    width: 15cm;
    margin-right: 1cm;
    margin-left: 0.5cm;
}
.water-heading {
    margin-top: 2cm;
}
.text {
    background-color:rgb(227, 227, 227) ; border: 15px solid rgb(227, 227, 227);
}
.city-images {
    margin-bottom: 2cm;
}
body {
    margin: 100px;

}
.heading {
    margin-bottom: 50px;
    background-color: #88b358; 
    color: azure;
    border: 15px solid #88b358; 
}
.apples {
    width: 11.4cm;
}
.moor {
    width: 10cm;
}
.view {
    width: 10cm;
}
.food1 {
    width: 10cm;
    margin-top: 1cm;
    margin-right: 1.8cm;
}
.food2 {
    width: 8.9cm;
    margin-right: 1.8cm;
}
.food3 {
    width: 10cm;
}
p {
    font-size: 18px;
}
.shop {
    width: 10cm;
}
.about-city {
    font-weight: bold;
}
.asian-food {
font-weight: bold;
}
.text-food {
    background-color: rgb(227, 227, 227); border: 15px solid rgb(227, 227, 227);
    
}

.food {
    margin-top: 2cm;
}
.container {
    display: flex;
    justify-content: space-evenly;
}

.nature-heading {
    margin-top: 2cm;
}
.moor {
   margin-top: 0.6cm;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
    border-right: 1px solid #bbb;
}

a {
    display: block;
    padding: 8px;
    background-color: #555;
}

  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #333;
}

.active {
    background-color: #88b358;
}


  
li:last-child {
    border-right: none;
  }